doctype xml

mixin waypoint(step, wpt)
  if step.arrival_time
    time= getTimestamp(step)
  if step.name
    name= step.name
  if step.cmt
    cmt= step.cmt
  else if step.address
    cmt= step.address
  if step.notes
    desc= step.notes
  else if step.address
    desc= step.address
  if step.url
    link(href=absUrl(step.url))
  - var symbol = getSymbol(step);
  if symbol
    sym= symbol
  if step.address || step.visit_duration !== undefined || step.pin !== undefined || step.phone
    extensions
      if step.visit_duration !== undefined
        frkt:duration= getDuration(step)
      if step.address || step.phone
        if wpt
          gpxx:WaypointExtension
            if step.address
              gpxx:Address
                if streetAddress(step)
                  gpxx:StreetAddress= streetAddress(step)
                if step.locality
                  if step.locality.town
                    gpxx:City= step.locality.town
                  if step.locality.province
                    gpxx:State= step.locality.province
                  if step.locality.country_long
                    gpxx:Country= step.locality.country_long
            if step.phone
              gpxx:PhoneNumber= step.phone
        else
          frkt:address= step.address
      if step.pin !== undefined
        frkt:pin= step.pin

gpx(
      xmlns="http://www.topografix.com/GPX/1/1"
      creator="http://furkot.com/"
      version="1.1"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:frkt="http://www.furkot.com/2014/gpx"
      xmlns:gpxx="http://www.garmin.com/xmlschemas/GpxExtensions/v3"
      xsi:schemaLocation=[
        "http://www.topografix.com/GPX/1/1 http://www.topografix.com/GPX/1/1/gpx.xsd",
        "http://www.furkot.com/2014/gpx http://cdn.furkot.com/schema/gpx.xsd",
        "http://www.garmin.com/xmlschemas/GpxExtensions/v3 http://www8.garmin.com/xmlschemas/GpxExtensionsv3.xsd"
      ].join(' ')
  )
  if metadata
    metadata
      if metadata.name
        name= metadata.name
      if metadata.desc
        desc= metadata.desc
      if metadata.link
        link(href=metadata.link)
      if metadata.author
        author
          name= metadata.author.name
          if metadata.author.email
            email(id=metadata.author.email.id, domain=metadata.author.email.domain)
          if metadata.author.link
            link(href=metadata.author.link)
              text= metadata.author.short_name
  if waypoints
    for step in waypoints
      if step.coordinates
        wpt(
            lat=step.coordinates.lat
            lon=step.coordinates.lon
          )
          mixin waypoint(step, true)
  if routes
    for route in routes
      rte
        if route.name
          name= route.name
        if route.desc
          desc= route.desc
        if route.link
          link(href=route.link)
        if route.points
          for step in route.points
            if step.coordinates
              rtept(
                  lat=step.coordinates.lat
                  lon=step.coordinates.lon
                )
                mixin waypoint(step)
  if tracks
    for track in tracks
      trk
        if track.name
          name= track.name
        if track.desc
          desc= track.desc
        if track.link
          link(href=track.link)
        if track.points
          for step in track.points
            - var expanded = step.track;
            if expanded && expanded.length
              trkseg
                for p in expanded
                  trkpt(
                      lat=p[0]
                      lon=p[1]
                    )
